.autosuggest {
  width: 80%;
  display:block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom:50px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 190px;
  border:2px solid;
  border-radius: 20px;
  outline: none solid 20px;
  background-color: #68BBE3;
  & h2 {
    position: relative;
  }
}