.fridge{
  display:flex; 
  flex-direction:row;
}

.recipesContainer{
 align-items: center;
 display: flex;
 flex-direction: column;
 background-image: url('./wooden-textured-background.jpg');
}

.autocompleteContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: inherit;
  
  background-repeat: no-repeat;
  background-size:contain;
  
  
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./Ice_Border_Background.jpg');
  height: 100vh;
  width: 35vw;
 
}