.ingreList {
  width: 25%;
  height: 10%;
  padding: 2%;
  padding-left: 1px;
  padding-right: 1px;
  margin: 1%;
  border-radius: 15px;
  outline: none solid 20px;
  background-color: #ffc857;

  & h2 {
    text-align: center;
    position: static;
    margin-bottom: 12px;
  }
}

p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.ingreName {
  margin-bottom: 3px;
}
