// section {
//   margin-top: 25px;
// }
.componentContainer{
  position: absolute;
}



.recipeContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  //background-image: url('./wooden-textured-background.jpg');
  z-index: +2;
  position: relative;
  height: 100vh;
  width: 40vw;
}

.buttonDiv {
  z-index: +10;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  order: 0;
  width: 50%;
}

.recipe {
  order: 1;
  margin: 1em;
  border-radius: 0.35rem;
  position: relative;
  width: 45%;
  height: 30%;
}


.recipeImage {
  object-fit: cover;
  opacity: 80%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.textContainer{
  color: #ffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 2px;
  margin-bottom: 2px;
}

.imageContainer {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
}

.margin-hate {
  margin: 0;
}

.recipeTitle {
  margin-bottom: 5px;  
}

.missingAmmount {
  margin-top: 250px;
  z-index: +2;
}