.nav{
  background-color: #FFC857;
  
  &Top{
    display: flex;
    justify-content: space-between;
  }

  &Button{
    background-color: #2E4052;
    color: #FFFF;
    height: 80%;
    text-decoration: none;
    line-height: 0px;
    border-radius: 10%;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;

    &List{
      margin-top: 5px;
      margin-bottom: 0px;
    }

    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

.projectName{
  display:  inline-block;
  color: #fff; 
  font-family: 'Righteous', cursive; 
  font-size: 30px; 
  font-weight: bold; 
  margin: 10px 0 10px; 
  text-transform: uppercase; 
  text-shadow: 2px 2px 0 #000; 
  margin: 10px 0 15px; 
  text-align: center; 
}

@media only screen and (min-width: 1024px) {
  nav {
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
  }
}