body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* auto suggest */
.react-autosuggest__container {
  position: relative;
  width: 30%;
}

.react-autosuggest__input--open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.react-autosuggest__input {
  background-color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.375rem;
  width: 100%;
  border-width: 1px;
  border-color: #FFC857;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
}

.react-autosuggest__input--focused {
  outline: 0;
  border-color: #FFC857;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border-width: 4px;
  border-color: #000;
  background-color: #BDD9BF;
  z-index: 10;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.react-autosuggest__input--open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.react-autosuggest__suggestion {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
  border: #000, 3px, solid;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #FFC857;
}

.autosuggest {
  display: flex;
  justify-content: center;
}