.main-footer{
    background-color: #FFC857;
    border-radius: 8px;
    color:white;
    text-shadow: 0.5px 0.5px #000000;
 }
Title{
    color: #fff;  
    font-size: 15px; 
    font-weight: bold;  
}

.footer{
  &-copyright{
    font-size: 15px;
   
  }
}

.col{
  font-size:10px;
  & h4{
    font-size:20px; 
  }
}
.list-unstyled{
  font-size: 15px;
}
a.footerLink, a.footerLink:link, a.footerLink:visited {
  text-decoration: none;
  color: white;
}

