.main-footer{
    background-color: #FFC857;
    border-radius: 8px;
 }
Title{
    color: #fff;  
    font-size: 15px; 
    font-weight: bold;  
}

.footer{
  &-copyright{
    font-size: 15px;
  }
}

.col{
  font-size:small;
  & h4{
    font-size:17px; 
  }
}
