@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

.nav{
  background-color: #FFC857;
  margin-block: 10px;

  &Top{
    display: flex;
    justify-content: space-between;
  }

  &Button{
    background-color: #FFC857;
    color: #FFFF;
    height: 25px;
    text-decoration: none;
    line-height: 0px;
    border-radius: 10%;
    border: none;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    text-shadow: 1px 1px 0 #000; 
    font-family: 'Oswald', sans-serif;
    font-weight: bold; 
   

    &List{
      margin-top: 5px;
      margin-bottom: 0px;
    }

    &:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}
