@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

nav {
  background-color: #FFC857;
  border-radius: 8px;
  z-index:100000;
}

.projectName{
  display:  inline-block;
  color: #fff; 
  font-family: 'Oswald', sans-serif;
  font-size: 25px; 
  font-weight: bold; 
  text-transform: uppercase; 
  text-shadow: 2px 2px 0 #000; 
  text-align: center; 
}

@media only screen and (min-width: 1024px) {
  nav {
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
  }
}