@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.body {
  background-color: #dd7230;
  color:#fff;
  padding: 0px 0px 20px 0px;
  border-radius: 8px;
}
.mainImage{
  position: relative;
  text-align: center;
  color: white;
  height:auto;
}
.chicken{
  height:35vw;
  width: 100%;
}

.textInMainImage{
  position: absolute;
  bottom: 10%;
  width: 70%;
  font-size: 4vw;
  height:10%;
  font-family: 'Anton', sans-serif;
}

.slideshow{

}

.mainImage span { 
  color: white; 
  font-family: 'Anton', sans-serif;
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.4);
  padding: 10px; 
}

.pros{
  display:flex;
  justify-content: space-evenly;
  opacity:0.8; 
  font-size: 21vw;
  &Element{
    line-height: 5vh;
    font-size: 2vw;
  }
}