.body {
  background-color: #dd7230;
  color:#fff;
  padding: 0px 0px 20px 0px;
  border-radius: 8px;
}
.mainImage{
  position: relative;
  text-align: center;
  color: white;
}
.chicken{
  height: 50%;
  width: 100%;
}

.textInMainImage{
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 5vw;
}