#head {
  background-color: #ffc857;
  flex-grow: 5;
  border: solid #2e4052;
}

.header {
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
  align-content: flex-start;
  justify-content: space-between;
}

.btn {
  background-color: #2e4052;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 12px;
}
.loginInput {
  display: flex;
  align-items: baseline;
}

@media (max-width: 450px) {
  .btn {
    padding: 12px 20px;
    font-size: 12px;
  }
}
