.btn-create {
  background-color: #2e4052;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  border-radius: 12px;
}

#create-account {
  display: flex;
  background-color: #bdd9bf;
  size: 100%;
}
